<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.deputadostalker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".usuario.gui.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".usuario.gui.LoginActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".usuario.gui.MainActivity"
            android:label="Deputado Stalker" />

        <activity
            android:name=".deputado.gui.PerfilDeputado"
            android:label="Perfil Deputado" />

        <activity
            android:name=".deputado.gui.PesquisaDeputado"
            android:label="Pesquisa Deputado" />

        <activity
            android:name=".deputado.gui.DeputadoFavoritoActivity"
            android:label="Deputados Favoritos" />

        <activity android:name=".proposicao.gui.ProposicaoActivity"
            android:label="Proposição"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Facebook Config -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Google Config -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>